body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

#app {
    margin: auto;
    width: 50%;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

/* static/style.css */
.button-container {
    text-align: center; /* 中央揃え */
    margin-top: 2em; /* 2行分のスペース */
}

